footer {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  background-color: @teal;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    width: 50%;
  }
}
