.container {
  header {
    display: flex;
    justify-content: space-between;
    background-color: @otherblue;
    margin: 0 auto;
    padding: 0 5%;
    h2 {
    }
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 2rem;
      width: 50%;
      a {
        text-decoration: none;
      }
    }
  }

  .cta {
    margin: 0 auto;

    background-image: url("/images/cta-image.jpg");
    background-repeat: no repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    width: 100%;
    height: 80vh;

    h1 {
    }

    .cta-text {
      background: @fontred;
      width: 40%;
      a {
        text-decoration: none;
        font-size: 2.4rem;
        color: black;
      }
    }
  }

  .features {
    margin: 5% 0;
    padding: 0 5%;
    h2 {
      text-align: center;
    }
    .features-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .feature-item {
        width: 27%;
        margin: 3% 0;
        border: 2px black solid;
        border-radius: 3rem;
        box-shadow: 0.3rem 0.3rem 2rem grey;
        text-align: center;

        h3 {
          margin: 0;
          padding: 2%;
          border-radius: 2.8rem 2.8rem 0 0;
          background-color: @fontred;
        }
        .item-text {
          padding: 5% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: left;

          img {
            width: 200px;
            height: 200px;
          }

          p {
          }
        }
      }
    }
  }

  .testimonials {
    padding: 0 5%;
    margin: 5% 0;
    h3 {
      text-align: center;
    }
    .testi-container {
      display: flex;
      justify-content: space-evenly;

      .testi-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        div {
          display: flex;
          justify-content: space-between;
          h4 {
            font-family: @quotesFont;
            font-size: 5rem;
            padding-top: 0;
            margin-top: 0;
          }
          p {
            width: 80%;
          }
        }

        img {
          border-radius: 50%;
          border: 0.3rem solid white;
          height: 100px;
          width: 100px;
        }
      }
    }
  }

  footer {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    background-color: @teal;

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.6rem;
      width: 50%;
    }
  }
}
