.container {
  .cta {
    position: relative;
    margin: 0 auto;
    padding-bottom: 70%;
    background-image: url("/images/cta-image.jpg");
    background-repeat: no repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    width: 100%;

    h1 {
      margin: 0;
      padding-top: 5rem;
      font-size: 7rem;
      text-align: center;
    }

    .cta-text {
      .flex (space-between, center);
      flex-direction: column;
      position: absolute;
      padding: 3% 3%;
      top: 20%;
      left: 20%;
      background: rgba(white, 0.5);
      width: 45%;
      text-align: center;
      h2 {
        font-size: 4rem;
      }
      a {
        text-decoration: none;
        .aStyle(1rem, 2rem);
        font-size: 2.4rem;
      }
    }

    @media @desktop {
      h1 {
        font-size: 5.5rem;
      }
      .cta-text {
        width: 50%;
      }
    }

    @media @tablet {
      h1 {
        font-size: 4.5rem;
      }
      .cta-text {
        width: 60%;
      }
    }
    @media @phone {
      background: none;
      clip-path: none;
      padding-bottom: 0;

      h1 {
        font-size: 3rem;
        padding-top: 0;
      }
      .cta-text {
        position: static;
        width: 100%;
        margin: 0 auto;

        h2 {
          font-size: 2.5rem;
        }
      }
    }
  }

  .features {
    margin: 5% 0;
    padding: 0 5%;

    h2 {
      text-align: center;
    }

    .features-container {
      .flex (@justify: space-between);
      flex-wrap: wrap;

      .feature-item {
        width: 27%;
        margin: 3% 0;
        border: 2px black solid;
        border-radius: 3rem;
        background-color: darken(white, 5%);
        box-shadow: 0.3rem 0.3rem 2rem grey;
        text-align: center;

        h3 {
          margin: 0;
          padding: 2%;
          border-radius: 2.8rem 2.8rem 0 0;
          background: linear-gradient(to right, @teal, darken(white, 5%));
        }
        .item-text {
          padding: 5% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: left;

          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }

    @media @tablet {
      .features-container {
        .feature-item {
          width: 40%;
        }
      }
    }
    @media @phone {
      .features-container {
        .feature-item {
          margin: 3% auto;
          width: 80%;
        }
      }
    }
  }

  .testimonials {
    padding: 0 5%;
    margin: 5% 0;
    h3 {
      text-align: center;
    }
    .testi-container {
      margin-top: 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .testi-item {
        .flex (@align: center);
        flex-direction: column;
        border: 2px black solid;
        background-color: darken(white, 5%);
        border-radius: 3rem;
        box-shadow: 0.3rem 0.3rem 2rem grey;
        width: 30%;

        div {
          .flex (@justify: space-between);
          padding: 0 5% 5% 5%;

          h4 {
            font-family: @quotesFont;
            font-size: 5rem;
            margin-top: 0;
          }

          p {
            width: 80%;
          }
        }

        img {
          margin-top: -50px;
          border-radius: 50%;
          border: 0.8rem solid white;
          height: 100px;
          width: 100px;
        }

        p.name {
          font-weight: bold;
        }
      }
    }

    @media @tablet {
      .testi-container {
        .testi-item {
          margin: 5% 0;
          width: 80%;
        }
      }
    }
  }
}
